<div class="row mt-5">
    <div class="col-md-4 md-3 " *ngFor="let x of specialEvents">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                      {{x.name}}  
                </h5>
                <p class="card-text">
                    {{x.description}}
                </p>
                <a href="" class="btn btn-danger" > make a plan  </a>
            </div>
            
        <div class="card-footer  text-muted">
            {{x.date | date:'shortDate'}}
        </div>
        </div>
    </div>
 </div>